#navbar-example2 img {
    height: 100px;
    width: 250px;
}



ul.nav.nav-pills {
    padding-left: 18%;
    margin-top: 70px;
}

.navbar {
    justify-content: start;
}

#navbar-example2 .nav-link i.fa.fa-bars,
#navbar-example2 .nav-link i.fa.fa-envelope-o,
#navbar-example2 .nav-link i.fa.fa-home {
    padding-right: 10px;
}

#content-section-2{
padding-top: 75px;
padding-bottom: 230px;
border-top: 4px solid rgb(178, 178, 178);
border-bottom: 4px solid rgb(255, 255, 255);
background-position: center -50.5547px;
background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}